.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border:1px solid red;
    width:860px;
    margin:auto;
}

.incident{
    text-align: center;
    border:1px solid green;
    width:800px;
    margin: auto;
    list-style: none;
}

.incident_item{
    width:750px;
    padding-left:30px;
    padding-right:30px;
    padding-top: 15px;
    padding-bottom:15px;
    display: flex;
    justify-content: space-between;
}
.infoDiv{

}
.button_div{
    
}

.edit{
    color: white;
    background-color: #84B027;
}

.delete{
    color: white;
    background-color: #DB2222;
}

