<div class="content">
    <ul class="incident">

        <li class="incident_item">

            <!-- Informaion divs -->
            <div class="infoDiv">
                <div class="up">
                    <span>Incident Case No</span>
                    <span>Case Category</span>
                    <span>Created</span>
                    <span>Updated</span>
                    <span>Responses</span>
                </div>
                <div class="down">
                    <span>0</span>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
            </div>

            <!-- button div -->
            <div class="buttonDiv">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>

        </li>


    </ul>    
</div>