* {
    background-color: #ECF1F8;
}

.btn {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0 40px 0;
}

.hero__btn {
    color: white;
    background-color: #235BEB;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    display: block;
    margin: auto;
}