.btn {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0 40px 0;
}

.hero__btn {
    color: white;
    background-color: #235BEB;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    display: block;
    margin: auto;
    transition: transform 300ms ease-in;
}

.hero__btn:hover{
    transform: scale(1.1);
}
