<h1 mat-dialog-title>Add Incidnet Form</h1>
<div mat-dialog-content>
    <form [formGroup]="incidentForm">
        <mat-form-field appearance="outline">
            <mat-label>Case Number</mat-label>
            <input type="caseNo" name="caseNo" id="caseNo" formControlName="caseNo" matInput placeholder="number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Case Category</mat-label>
            <input type="caseNo" name="category" id="category" formControlName="category" matInput placeholder="category" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Created</mat-label>
            <input type="created" name="created" id="created" formControlName="created" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Updated</mat-label>
            <input type="updated" name="updated" id="updated" formControlName="updated" matInput [matDatepicker]="picker1" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select type="status" name="status" id="status" formControlName="status" placeholder="status">
                <mat-option value="completed">Completed</mat-option>
                <mat-option value="in progress">In Progress</mat-option>
                <mat-option value="submitted">Submitted</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button type="submit" style="margin-left: 8px;" mat-raised-button color="primary" (click)="addIncident(incident)">Save</button>
</div>